body {
  width: 100%;
  min-height: 100%;
}
.canvas {
  width: 75%;
  height: 50%;
  float: center;
}

.city-text {
  font-size: 0.15px;
}

.advance-line {
  stroke: red;
}
.retreat-line {
  stroke: black;
}
